.button-active {
  color: white;
  cursor: pointer;
  cursor: not-allowed;
}

.button-inactive {
  background-color: #b3d7ff;
  color: #666666;
}

.button-inactive:hover {
  background-color: #80c2ff;
}
